<?xml version="1.0"?>
<sdf version="1.6">
  <world name="default">
    <!-- Physics -->
    <physics name="default_physics" type="ode">
      <max_step_size>0.001</max_step_size>
      <real_time_factor>1</real_time_factor>
      <real_time_update_rate>1000</real_time_update_rate>
      <gravity>0 0 -9.81</gravity>
    </physics>

    <!-- Sunlight -->
    <include>
      <uri>model://sun</uri>
    </include>

    <!-- Ground Plane -->
    <include>
      <uri>model://ground_plane</uri>
    </include>

    <!-- Model -->
    <include>
      <uri>model://Car</uri>
    </include>

    <!-- GUI -->
    <gui>
      <plugin name="SceneViewer" filename="libSceneViewerPlugin.so">
        <camera>
          <pose>0 -5 3 0 0.2 0</pose>
        </camera>
      </plugin>
    </gui>

    <!-- Sensors Plugin -->
    <plugin
      filename="libgz-sim-sensors-system.so"
      name="gz::sim::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>

    <!-- User Commands Plugin -->
    <plugin
      filename="libgz-sim-user-commands-system.so"
      name="gz::sim::systems::UserCommands" />

    <!-- IMU Plugin -->
    <plugin
      filename="libgz-sim-imu-system.so"
      name="gz::sim::systems::Imu" />

    <!-- Logging -->
    <plugin
      filename="libgz-sim-log-system.so"
      name="gz::sim::systems::LogRecord">
      <record_path>/tmp/gz_logs</record_path>
      <record_resources>true</record_resources>
    </plugin>
  </world>
</sdf>